.about-second {
  font-size: 35px;
  font-weight: 600;
}
.company-img img {
  height: 80vh;
  padding: 0 20px;
  float: right;
  position: relative;
}
.second-img img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 250px;
  border: 20px solid #fff;
}
.capital {
  text-transform: uppercase;
}
#message-section {
  margin-bottom: 50px;
}
.message-head .top-head {
  text-align: justify;
  font-weight: 600;
  position: relative;
  margin-bottom: 25px;
  font-size: 25px;
}

.message-head .top-head:after {
  background: var(--primary-color);
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  top: 36px;
  margin: 0 auto;
  height: 3px;
  width: 60px;
}
.paragraph {
  padding: 20px 0;
  width: 90%;
}
.paragraph p {
  text-align: justify;
}
#our-team {
  margin: 0 0 50px;
}
.first-line {
  text-align: center;
  justify-content: space-between;
}
.team-members {
  text-align: center;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
  height: 320px;
  margin-bottom: 30px;
  padding: 0px 10px;
}
.team-members img {
  width: 180px;
  padding: 10px 0;
}
.team-members h5,
.team-members h6 {
  padding-bottom: 8px;
  font-weight: 400;
}
.team-members h5 {
  padding-bottom: 2px;
  font-weight: 600;
}
.message-head .team-head {
  text-align: justify;
  font-weight: 600;
  position: relative;
  margin-bottom: 25px;
  font-size: 25px;
}
.message-head .team-head:after {
  background: var(--primary-color);
  position: absolute;
  content: "";
  left: 44%;
  bottom: 0;
  top: 36px;
  margin: 0 auto;
  height: 3px;
  width: 60px;
}
.mt-30 {
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .paragraph {
    width: 100%;
  }
  .team-members {
    height: 360px;
  }
  .team-members img {
    width: 180px;
    padding: 20px 0;
  }
}
@media (max-width: 768px) {
  .paragraph {
    width: 100%;
  }
  .about-content-m {
    margin-top: 30px;
  }
  .message-head .top-head:after {
    top: 68px;
  }
  .message-head .team-head:after {
    left: 37%;
  }
  .team-members img {
    width: 180px;
    padding: 25px 0;
  }
}
/* Small devices (landscape phones, 425px and up) */
@media (max-width: 426px) {
  .inner-title-banner {
    height: 20vh;
  }
  .sub-head {
    padding: 35px 25px;
  }
  .about-content {
    margin-top: 15px;
  }
  /* .about-content h1:after {
    left: -8px;
  } */
  .message-head .top-head:after {
    top: 61px;
  }
  .message-head .team-head:after {
    left: 33%;
  }
  .team-members {
    height: 315px;
  }
  .paragraph {
    width: 100%;
  }
}
